.hero {
  background: linear-gradient(102.18deg, #ffffff 2.59%, #8f84f9 100.42%);
  padding: 30px 0 65px;
}

.heroContainer {
  width: 1170px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
}

.heroAppStoreIcon {
  margin-right: 16px;
}

.heroLeftTitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.374px;
  color: #000000;
  max-width: 607px;
  margin: 0 0 24px 0;
}

.heroLeftText {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.35px;
  color: #141414;
  margin: 0 0 48px 0;
}

.heroRight{
  margin-left: 120px;
}

.layerWrapper{
  position: relative;
}

.layerTwo{
  position: absolute;
  top: 128px;
  left: -114px;
}

.layerThree{
  position: absolute;
  top: 26px;
  right: -124px;
}
