.flex {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 768px) {
        flex-direction: column;
      }
}
.title {
font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.41px;
  padding: 30px 0;
  width: 100%;
  text-align: center;

  color: #000000;
  @media (max-width: 768px) {
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
  }
}

.subtitle {
    font-size: 20px;
    font-family: 'SF Pro Display';
    color: blueviolet
}
.box {
    min-width: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 40px;
}