.header {
  width: 100%;
  background: sariq;
  padding: 2px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
}

.list {
  display: flex;
  list-style-type: none;

  .link {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    padding: 14px;
    font-size: 17px;
    line-height: 22px;
  }

  .active {
    color: #7165e5;
  }
}
