.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  list-style-type: none;

  .link {
    font-family: "SF Pro Display";
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    padding: 14px;
    font-size: 17px;
    line-height: 22px;
  }

  .active {
    color: #7165e5;
  }
}
