.languageMenu {
  padding: 12px;
  position: relative;
}

.languageMenuTop {
  display: flex;
  gap: 10px;
  padding: 12px;

  width: 82px;
  height: 48px;

  /* Light Gray/Light Gray 5 */
  background: #f6f8f9;
  border-radius: 12px;
}

.languageMenuBottom {
  padding-left: 0;
  position: absolute;
  bottom: -70px;
  left: 12;
  border: 1px solid rgb(199, 192, 192);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 15px;
  width: 80px;
  height: 50px;
  color: black;
  background: #f6f8f9;
  cursor: pointer;
}
.langMenuItem {
  list-style: none;
  display: flex;
  align-items: start;
  gap: 8px;
  text-transform: uppercase;
}

.langMenuItemImg {
  flex-shrink: 0 !important;
}

.activeLanguageArrow {
  transform: rotate(179deg);
  -webkit-transform: rotate(179deg);
  -moz-transform: rotate(179deg);
  -ms-transform: rotate(179deg);
  -o-transform: rotate(179deg);
}
