.sectionTitle {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.41px;
    color: #000000;
    padding-top: 64px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
