.serviceSection{
    padding:64px 0;
}

.ServiceTitle{
text-align: center;
font-family: 'Montserrat';
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.41px;
color: #000000;
margin: 0 0 40px;
}